<!-- <div class="container">
  <div class="row" id="landing-navbar">
    <div class="col-xs-2">
      <div id="brand">
        <% image_tag 'eggshell.svg' %>
        <span>E C L O R E</span>
      </div>
    </div>
  </div>
</div> -->

